*{
    margin:0;
    padding:0;
}
body{
    background-color: darkgray;
    font-family: 'Poppins', sans-serif;
}
section{
    background-color:white;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;;
}
.section-title{
    color:aqua
}
main{
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
}
.top-players, .blogs, .courses{
    display:grid;
    gap:30px ;
    margin-top: 20px;
    place-items: center;
}
.top-players, .courses{
    grid-template-columns: repeat(3, 1fr);
}
.blogs{
    grid-template-columns: repeat(2, 1fr);
}
.player, .blog{
    display:flex;
    align-items:center;
}
.player img{
height:50px;
margin-right:20px ;
}
.thumnail img{
    width:200px;
    margin-right: 20px;
}

.filled{
    color:gold;
}
.unfilled{
    color:lightgray;
}
.course-info{
    display:flex;
}
.course img{
    width:200px;
    height:100px;
}
@media (max-width:992px){
    .top-players, .courses{
        grid-template-columns: repeat(2, 1fr);  
    }  
    .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width:688px){
    .top-players, .courses{
        grid-template-columns: repeat(1, 1fr);  
    } 
    .blog{
        display:block;
    } 
}
